<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szrjk.dhome"
    android:versionCode="300"
    android:versionName="170.0.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】如果需要设置前台是否显示通知，需要设置这个权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 【可选】如果需要设置前台是否显示通知，需要设置这个权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--  -->

    <application
        android:name="com.szrjk.dhome.DHomeApplication"
        android:allowBackup="true"
        android:icon="@drawable/szrjk_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.szrjk.dhome.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.szrjk.dhome.GuideActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ForgetActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.DigitalDoctorTermsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.DigitalDoctorPlatformServiceContractActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.CopyrightNoticeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.Register1Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.Register2Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MoreActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MyAttentionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MyFansActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.PhotoAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.album.AlbumGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.album.AlbumsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.album.AlbumItemActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.album.CropPictureActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.imagezoom.ImageViewZoomActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.PhotoAlbumGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.StudentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.OtherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.DoctorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.SendCaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.index.SendPuzzleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.index.SendPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.index.DepartmentGVActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.AboutYouActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.AboutYou2Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ProtectAccountActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.VSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.VSelectEducationLevelActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.VSelectDepartmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.VSelectProfessionalTitleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.AlbumGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ImageFileActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ShowAllPhoto"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.VSelectCityActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.AlbumActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <receiver android:name="com.szrjk.receiver.NetCheckReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="559a3c9867e58e5295003978" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="SZR_AN" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="123daf20127c1b2a180f5bab82a3efdf" >
        </meta-data>

        <activity
            android:name="com.szrjk.self.UserAvatarImageShower"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.UserAvatarImageChangerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.PuzzleDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.CaseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.UserBackgroundSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.UserBackgroundShower"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.PostDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.PostDetailFowardActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.MoreCommentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.MoreForwardActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.MoreLikeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.CommentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.OtherPeopleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ShowBigPicActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.RepeatActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.FriendActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.IntroduceActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.PictureGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.CircleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.CreateCircleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.EditDataActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.EditDataDoctorsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.EditDataStudentsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.EditDataOthersActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.SetingActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.ChangePortraitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MainAuthenticationActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.ChangePhoneActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.CircleHomepageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.CircleIntroductionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.CoterieMemberActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.DeleteCoterieMemberActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.HotCircleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.CircleInviteFirendActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.ActErrorReport"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.CaseSharePostActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.IndexGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.NormalPostActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.ProblemHelpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MineSendLikeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.MineGetLikeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.self.SystemUserActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.search.SearchMoreActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.search.SearchMainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.library.LibraryGuideActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.library.DiseasesListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.library.DiseasesDetailedActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.library.LibraryPaperActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.library.LibraryPaperListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.explore.MoreNewsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.explore.NewsDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.explore.NewsCommentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.szrjk.message.MessageListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.szrjk.message.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.util.corpimageview.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <!-- 友盟相关推送 -->

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.UmengBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.szrjk.dhome.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushService_v1" >
            <intent-filter>
                <action android:name="com.szrjk.dhome.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.szrjk.dhome.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":pushService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.szrjk.receiver.DHomePushService" />
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="559a3c9867e58e5295003978" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="SZR_AN" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="123daf20127c1b2a180f5bab82a3efdf" >
        </meta-data>

        <activity
            android:name="com.szrjk.explore.MoreNewsCommentsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.szrjk.self.more.AuthenticationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.util.clip.ClipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.util.gallery.MainGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.explore.MyCircleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.index.PostDetailFowardActivity2"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.SelfActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        
        <activity
            android:name="com.szrjk.explore.MyCommentListActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>

        <receiver android:name="com.szrjk.receiver.ChangePortraitBroadcastReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="CHANGE_PORTRAIT_SUCCESS" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.szrjk.message.ChatSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.AddressBookActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Theme.dhome"
            >
        </activity>
        <activity
            android:name="com.szrjk.explore.FriendRequestActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.szrjk.dhome.CircleRequestActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.dhome"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
    </application>

</manifest>